<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="padder">
            <div class="streamline b-l b-info m-l m-b padder-v">
                <!-- New Post -->
                <div>
                    <a ui-sref="pages.user({username: user.Username})" class="pull-left thumb-sm avatar m-l-n-md">
                        <img ng-src="{{user.ProfileImageUrl}}" ng-alt="{{user.Fullname}}">
                    </a>
                    <div class="m-l-lg panel b-a r-3x" ng-controller="EditorCtrl">
                        <div class=" panel-heading pos-rlt b-b b-light">
                            <span class="text-muted m-l-sm pull-left">
                                <span class="arrow left pull-up"></span>
                                <a ui-sref="pages.user({username: user.Username})">
                                    <span class="text-md font-bold" ng-bind="user.Fullname"></span>
                                    <span class=" text-xs text-muted" ng-bind="'&#64;' + user.Username"></span>
                                </a>

                                <div class="tag-search">
                                    <div class="btn-group" dropdown>
                                        <a href="#" dropdown-toggle><label class="label m-r-xs" ng-class="post.Category && post.Category.CssClass ? post.Category.CssClass : 'bg-light'" ng-bind="post.Category ? post.Category.Name : 'Select Category'"></label></a>
                                        <div class="dropdown-menu text-sm padder" role="menu">
                                            <a href ng-repeat="category in categories" ng-click="selectCategory(category);">
                                                <label ng-class="category.CssClass" class="label m-r-xs" ng-bind="category.Name"></label>
                                            </a>
                                            <hr class="m-xs">
                                            <a href><label class="label bg-light m-r-xs" ng-click="showNewCategoryPopup();">new category</label></a>
                                        </div>
                                    </div>

                                    <script type="text/ng-template" id="newCategoryModalContent.html">
                                        <div ng-include="'/modals/NewCategory'"></div>
                                    </script>

                                    <span class="tags" ng-repeat="tag in post.Tags">
                                        <a ng-click="removeTag(tag)"><label class=" label bg-light m-r-xs" ng-bind="tag.Name"></label></a>
                                    </span>
                                    <input type="text" id="tk-tag-input" class="tag-input" placeholder="Tags here" maxlength="37" ng-disabled="post.Tags.length >= 5" ng-show="post.Tags.length < 5" />
                                </div>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <input type="text" id="tk-title" placeholder="Title here" class="r-t form-control no-border text-lg no-padder" ng-model="post.Title" />
                            <textarea id="tk-editor" class="form-control no-border r-b no-padder" style="margin-top: -1px" rows="3" placeholder="Your post here" ng-model="post.EditorContent"></textarea>
                            <div id="tk-preview" style="display: none;"></div>
                            <div class="m-t-sm">
                                <a href id="tk-preview-btn" class="btn btn-default btn-xs" ng-click="toggleEditor();">
                                    <i class="fa fa-list-alt text-muted text"></i> Preview
                                </a>
                                <a href id="tk-edit-btn" class="btn btn-default btn-xs" style="display: none" ng-click="toggleEditor();">
                                    <i class="fa fa-edit text-muted text"></i> Edit
                                </a>
                                <a href="#" class="btn btn-default btn-xs" ng-click="cancel();">
                                    <i class="fa fa-trash text-muted text"></i> Cancel
                                </a>
                                <a href="#" class="btn btn-default btn-xs" ng-click="saveAsDraft();">
                                    <i class="fa fa-save text-muted"></i> Save As Draft
                                </a>
                                <a href="#" class="btn btn-default btn-xs" ng-click="publish();">
                                    <i class="fa fa-mail-forward text-muted"></i> Publish
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Posts -->
                <div ng-repeat="post in posts">
                    <a class="pull-left thumb-sm avatar m-l-n-md">
                        <img ng-src="{{post.User.ProfileImageUrl}}" ng-alt="{{post.User.Fullname}}">
                    </a>
                    <div class="m-l-lg panel b-a r-3x">
                        <div class="panel-heading pos-rlt b-b b-light">
                            <span class="text-muted m-l-sm pull-right" ng-bind="post.PublishDate"></span>
                            <span class="text-muted m-l-sm pull-left">
                                <span class="arrow left pull-up"></span>
                                <a ui-sref="pages.user({username: post.User.Username})">
                                    <span class="text-md font-bold" ng-bind="post.User.Fullname"></span>
                                    <span class="text-xs text-muted" ng-bind="'&#64;' + post.User.Username"></span>
                                </a>

                                <br />
                                <a ng-href="{{'/category/' + post.Category.Id}}"><label class="label m-r-xs" ng-class="post.Category && post.Category.CssClass ? post.Category.CssClass : 'bg-light'" ng-bind="post.Category.Name"></label></a>
                                <a ng-repeat="tag in post.Tags" ng-href="'/tag/' + tag.Id"><label class="label bg-light m-r-xs" ng-bind="tag.Name"></label></a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <h4 ng-bind="post.Title"></h4>
                            <div ng-bind-html="to_trusted(post.HtmlContent)"></div>
                            <div class="m-t-sm">
                                <a href class="btn btn-default btn-xs" ng-class="{active: post.Liked}" ng-disabled="post.sendingLike" ng-click="likeUnlike(post)">
                                    <i class="fa fa-heart-o text-muted text"></i>
                                    <i class="fa fa-heart text-danger text-active"></i>
                                    <span ng-bind="post.LikeCount"></span>
                                </a>
                                <a href class="btn btn-default btn-xs" ng-click="toggleComments(post);">
                                    <i class="fa fa-comments-o text-muted"></i>
                                    <span ng-bind="post.CommentCount"></span>
                                </a>
                                <a href class="btn btn-default btn-xs" style="display: none" ng-class="{active: post.Retagged}" ng-disabled="post.Retagged" ng-click="retag(post);">
                                    <i class="fa fa-mail-reply text-muted text"></i>
                                    <i class="fa fa-mail-reply text-info text-active"></i>
                                    <span ng-bind="post.RetagCount"></span>
                                </a>
                            </div>
                            <div style="max-height: 300px;" ng-show="post.ShowComments" class="m-t-md m-b-md text-xs scroll-y">
                                <div class="m-l-xs">
                                    <a ui-sref="pages.user({username: user.Username})" class="pull-left thumb-xs avatar">
                                        <img ng-src="{{user.ProfileImageUrl}}" alt="{{user.Fullname}}">
                                    </a>
                                    <div class="m-l-xxl panel b-a r-2x">
                                        <div class="panel-heading pos-rlt">
                                            <span class="arrow left pull-up"></span>
                                            <textarea ng-model="post.NewComment" class="no-border w-full text-xs" rows="1" placeholder="Your comment..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- comments -->
                                <div class="m-l-xs m-b-n" ng-repeat="comment in post.Comments">
                                    <a ui-sref="pages.user({username: comment.User.Username})" class="pull-left thumb-xs avatar">
                                        <img ng-src="{{comment.User.ProfileImageUrl}}" alt="{{comment.User.Fullname}}">
                                    </a>
                                    <div class="m-l-xxl panel b-a r-2x">
                                        <div class="panel-heading pos-rlt">
                                            <span class="arrow left pull-up"></span>
                                            <span class="text-muted m-l-sm pull-right" ng-bind="comment.PublishDate"></span>
                                            <a ui-sref="pages.user({username: comment.User.Username})">
                                                <span class="text-xs font-bold" ng-bind="comment.User.Fullname"></span>
                                                <span class="text-xxs text-muted" ng-bind="'&#64;' + comment.User.Username"></span>
                                            </a>
                                            <br />
                                            <span ng-bind="comment.Content"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-default w-full" ng-click="loadComments(post);" ng-disabled="post.disableLoadComments " ng-bind="post.moreCommentsButtonText"></button>
                                </div>
                                <!-- comments -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-default w-full" ng-click="loadTimeline();" ng-disabled="disableMorePosts" ng-bind="morePostsButtonText"></button>
            </div>
        </div>
    </div>

    <div class="col w-md lter b-l">
        <div class="vbox">
            <div class="nav-tabs-alt">
                <ul class="nav nav-tabs nav-justified">
                    <li ng-class="{'active': tabs[0]}">
                        <a href ng-click="tab(0)">Day</a>
                    </li>
                    <li ng-class="{'active': tabs[1]}">
                        <a href ng-click="tab(1)">Month</a>
                    </li>
                    <li ng-class="{'active': tabs[2]}">
                        <a href ng-click="tab(2)">Year</a>
                    </li>
                </ul>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="wrapper-md">

                            <h4 class="m-t-xs m-b-xs">Who to follow</h4>
                            <ul class="list-group no-bg no-borders pull-in">
                                <li class="list-group-item">
                                    <a herf class="pull-left thumb-sm avatar m-r">
                                        <img src="~/res/img/a4.jpg" alt="..." class="img-circle">
                                        <i class="on b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <div><a href>Chris Fox</a></div>
                                        <small class="text-muted">Designer, Blogger</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <a herf class="pull-left thumb-sm avatar m-r">
                                        <img src="~/res/img/a5.jpg" alt="..." class="img-circle">
                                        <i class="on b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <div><a href>Mogen Polish</a></div>
                                        <small class="text-muted">Writter, Mag Editor</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <a herf class="pull-left thumb-sm avatar m-r">
                                        <img src="~/res/img/a6.jpg" alt="..." class="img-circle">
                                        <i class="busy b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <div><a href>Joge Lucky</a></div>
                                        <small class="text-muted">Art director, Movie Cut</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <a herf class="pull-left thumb-sm avatar m-r">
                                        <img src="~/res/img/a7.jpg" alt="..." class="img-circle">
                                        <i class="away b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <div><a href>Folisise Chosielie</a></div>
                                        <small class="text-muted">Musician, Player</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel b-a">
                            <h4 class="font-thin padder">Latest Tweets</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <p>Wellcome <a href class="text-info">@@Drew Wllon</a> and play this web application template, have fun1 </p>
                                    <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
                                </li>
                                <li class="list-group-item">
                                    <p>Morbi nec <a href class="text-info">@@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                                    <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
                                </li>
                                <li class="list-group-item">
                                    <p><a href class="text-info">@@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
                                    <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
                                </li>
                            </ul>
                        </div>
                        <div class="panel b-light clearfix">
                            <div class="panel-body">
                                <a href class="thumb pull-left m-r">
                                    <img src="~/res/img/a0.jpg" class="img-circle">
                                </a>
                                <div class="clear">
                                    <a href class="text-info">@@Mike Mcalidek <i class="fa fa-twitter"></i></a>
                                    <small class="block text-muted">2,415 followers / 225 tweets</small>
                                    <a href class="btn btn-xs btn-success m-t-xs">Follow</a>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
