<!-- h3 MailBox-->
<div data-ng-controller="MailboxController" class="row">
    <div class="col-lg-2 col-md-12">
        <div class="clearfix mb-lg">
            <button type="button" data-ng-click="mailboxMenuCollapsed = !mailboxMenuCollapsed" class="btn btn-sm btn-default hidden-lg pull-right">
                <em class="fa fa-bars fa-fw fa-lg"></em>
            </button>
            <a ui-sref="app.mailbox.compose" class="btn btn-info visible-lg visible-xs-inline-block visible-sm-inline-block visible-md-inline-block">
                <em class="icon-mail fa-fw"></em>
                <span>Compose</span>
            </a>
        </div>
        <div collapse="mailboxMenuCollapsed" class="mb-boxes">
            <div class="panel panel-default m0">
                <div class="list-group">
                    <a href class="list-group-item">
                        <span class="label label-primary pull-right">42</span>
                        <em class="fa fa-list"></em>
                        <span>Timeline</span>
                    </a>
                    <a href class="list-group-item">
                        <span class="label label-primary pull-right">42</span>
                        <em class="fa fa-users"></em>
                        <span>People</span>
                    </a>
                    <a href class="list-group-item">
                        <span class="label label-primary pull-right">42</span>
                        <em class="fa fa-tags"></em>
                        <span>Tags</span>
                    </a>
                    <a href class="list-group-item">
                        <span class="label label-primary pull-right">42</span>
                        <em class="fa fa-lightbulb-o"></em>
                        <span>Suggested</span>
                    </a>
                    <a href class="list-group-item">
                        <span class="label label-primary pull-right">42</span>
                        <em class="fa fa-star"></em>
                        <span>Favorites</span>
                    </a>
                    <a href class="list-group-item">
                        <span class="label label-primary pull-right">42</span>
                        <em class="fa fa-edit"></em>
                        <span>Drafts</span>
                    </a>
                </div>
            </div>
            <br>
            <accordion close-others="true">
                <accordion-group>
                    <accordion-heading>
                        <div style="padding: 10px 15px; margin-left: -2px; background-color: #eee; font-size: .9em">
                            People
                            <span class="label label-primary pull-right">42</span>
                        </div>
                    </accordion-heading>
                    <div class="panel panel-default" style="margin: -16px">
                        <scrollable>
                            <div class="list-group">
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/01.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Mehmet Ataş</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/02.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Seda Çetinkaya</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/03.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Hafize Ebru Sevgi Ömercikoğlu</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/04.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Volkan Köseoğlu</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/05.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Emir Gökberk</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/06.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Salih Emrah Turan</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/07.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Emre Hafızoğlu</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/08.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Gizem Torki</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/01.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Mehmet Ataş</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/02.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Seda Çetinkaya</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/03.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Hafize Ebru Sevgi Ömercikoğlu</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/04.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Volkan Köseoğlu</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/05.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Emir Gökberk</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/06.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Salih Emrah Turan</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/07.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Emre Hafızoğlu</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <img src="/app/img/user/08.jpg" alt="Mehmet Ataş" class="img-circle thumb16" />
                                    <span class="label label-primary pull-right">3</span>
                                    <span>Gizem Torki</span>
                                </a>
                            </div>
                        </scrollable>
                    </div>
                </accordion-group>
                <accordion-group>
                    <accordion-heading><div style="padding: 10px 15px; margin-left: -2px; background-color: #eee; font-size: .9em">Tags <span class="label label-primary pull-right">42</span></div></accordion-heading>

                    <div class="panel panel-default" style="margin: -16px">
                        <scrollable>
                            <div class="list-group">
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>c#</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>java</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>c++</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>javascript</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>android</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>swift</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>ios</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>python</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>c#</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>java</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>c++</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>javascript</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>android</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>swift</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>ios</span>
                                </a>
                                <a href class="list-group-item" style="padding: 7px; font-size: .9em">
                                    <span class="label label-primary pull-right">3</span>
                                    <em class="fa fa-tag"></em>
                                    <span>python</span>
                                </a>
                            </div>
                        </scrollable>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="clearfix hidden-lg"></div>
    <div ui-view="container" class="col-lg-10 data-ng-fadeInUp"></div>
</div>