<div data-ng-controller="sidebarCtrl" class="sidebar-wrapper">
    <side-bar>
        <div class="sidebar-nav">
            <ul class="nav">
                <li data-ng-class="getSidebarItemClass(item)" data-ng-repeat="item in menuItems" data-ng-include="'sidebar-items.html'" data-ng-click="toggleCollapse($index)" data-ng-switch="item.type"></li>
                <li>
                    <hr data-ng-hide="app.sidebar.isCollapsed" />
                </li>
                <li class="text-center">
                    <button class="btn btn-primary">
                        <em class="fa fa-plus"></em>
                        <span data-ng-hide="app.sidebar.isCollapsed" class="hidden-xs">New Folder</span>
                        <span class="visible-xs-inline">New Folder</span>
                    </button>
                </li>
            </ul>
        </div>
    </side-bar>
    <script type="text/ng-template" id="sidebar-items.html">
        <span data-ng-switch-when="heading" class="text-muted">{{item.text}}</span>
        <hr data-ng-switch-when="separator" />
        <a data-ng-switch-default="" ui-sref-active="bg-gray-lighter" ui-sref="{{item.sref}}" title="{{item.text}}">
            <em data-ng-hide="inSubmenu" class="sidebar-item-icon fa {{item.icon}}"></em>
            <em data-ng-if="item.subnav" class="sidebar-item-caret pull-right fa fa-angle-right"></em>
            <div data-ng-if="item.alert" data-ng-class="item.alert.class || 'label-default'" class="label pull-right">
                {{item.alert.text}}
            </div>
            <span>{{item.text}}</span>
        </a>
        <ul data-ng-switch-default="" data-ng-if="item.subnav" collapse="isCollapse($index)" is-disabled="isSidebarSlider()" data-ng-init="addCollapse($index, item)" data-ng-click="cancel($event)" class="nav sidebar-subnav">
            <li class="sidebar-subnav-header">
                <a>
                    <em class="sidebar-item-icon fa fa-angle-left"></em>
                    {{ item.text }}
                </a>
            </li>
            <li data-ng-repeat="item in item.subnav" data-ng-include="'sidebar-items.html'" data-ng-class="getSidebarItemClass(item)" data-ng-init="inSubmenu = true" data-ng-switch="item.type"></li>
        </ul>
    </script>
</div>