<!-- START Sidebar-->
<scrollable height="750">
    <div data-ng-controller="sidebarCtrl" class="sidebar-wrapper">
        <side-bar>
            <div class="sidebar-nav">
                <ul class="nav">
                    <li>
                        <div class="panel panel-default m0">
                            <div class="list-group">
                                <a ui-sref="app.mailbox({folder: folder.name})" ui-sref-opts="{notify: true}" ui-sref-active="bg-gray-lighter" data-ng-repeat="folder in mailboxFolders" class="list-group-item">
                                    <span class="label label-success pull-right">{{ folder.count }}</span>
                                    <em data-ng-class="folder.icon" class="fa fa-fw fa-lg"></em>
                                    <span ng-hide="app.sidebar.isCollapsed" class="hidden-xs">{{ folder.name | titlecase }}</span>
                                    <span class="visible-xs-inline">{{ folder.name | titlecase }}</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </side-bar>
    </div>
</scrollable>
<!-- END Sidebar-->