<div>
    <a class="pull-left thumb-sm avatar m-l-n-md">
        <img ng-src="{{post.User.ProfileImageUrl}}" ng-alt="{{post.User.Fullname}}">
    </a>
    <div class="m-l-lg panel b-a r-3x">
        <div class="panel-heading pos-rlt b-b b-light">
            <span class="text-muted m-l-sm pull-right" ng-bind="post.PublishDate|date:'yyyy-MM-dd HH:mm'"></span>
            <span class="text-muted m-l-sm pull-left">
                <span class="arrow left pull-up"></span>
                <a href ui-sref="pages.user({username: post.User.Username})">
                    <span class="text-md font-bold" ng-bind="post.User.Fullname"></span>
                    <span class="text-xs text-muted" ng-bind="'&#64;' + post.User.Username"></span>
                </a>

                <br />
                <a href ui-sref="pages.category({username: post.User.Username, category: post.Category.Name})"><label class="label m-r-xs" ng-class="post.Category.CssClass ? post.Category.CssClass : 'bg-light'" ng-bind="post.Category.Name"></label></a>
                <a href ng-repeat="tag in post.Tags" ui-sref="pages.tag({name: tag.Name})"><label class="label bg-light m-r-xs" ng-bind="tag.Name"></label></a>
            </span>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <h4 ng-bind="post.Title"></h4>
            <div ng-bind-html="to_trusted(post.HtmlContent)"></div>
            <div class="m-t-sm">
                <a href class="btn btn-default btn-xs" ng-class="{active: post.Liked}" ng-disabled="post.sendingLike" ng-click="likeUnlike(post)">
                    <i class="fa fa-heart-o text-muted text"></i>
                    <i class="fa fa-heart text-danger text-active"></i>
                    <span ng-bind="post.LikeCount"></span>
                </a>
                <a href class="btn btn-default btn-xs" ng-click="toggleComments(post);">
                    <i class="fa fa-comments-o text-muted"></i>
                    <span ng-bind="post.CommentCount"></span>
                </a>
                <a href class="btn btn-default btn-xs" ng-show="post.User.Username == user.Username" ng-click="edit(post);">
                    <i class="fa fa-edit text-muted text"></i> Edit
                </a>
                <a href class="btn btn-default btn-xs" style="display: none" ng-class="{active: post.Retagged}" ng-disabled="post.Retagged" ng-click="retag(post);">
                    <i class="fa fa-mail-reply text-muted text"></i>
                    <i class="fa fa-mail-reply text-info text-active"></i>
                    <span ng-bind="post.RetagCount"></span>
                </a>
            </div>
            <div style="max-height: 300px;" ng-show="post.ShowComments" class="m-t-md m-b-md text-xs scroll-y">
                <div class="m-l-xs">
                    <a ui-sref="pages.user({username: user.Username})" class="pull-left thumb-xs avatar">
                        <img ng-src="{{user.ProfileImageUrl}}" alt="{{user.Fullname}}">
                    </a>
                    <div class="m-l-xxl panel b-a r-2x">
                        <div class="panel-heading pos-rlt">
                            <span class="arrow left pull-up"></span>
                            <textarea ng-model="post.NewComment" class="no-border w-full text-xs" rows="1" placeholder="Your comment..."></textarea>
                        </div>
                    </div>
                </div>
                <!-- comments -->
                <div class="m-l-xs m-b-n" ng-repeat="comment in post.Comments">
                    <a ui-sref="pages.user({username: comment.User.Username})" class="pull-left thumb-xs avatar">
                        <img ng-src="{{comment.User.ProfileImageUrl}}" alt="{{comment.User.Fullname}}">
                    </a>
                    <div class="m-l-xxl panel b-a r-2x">
                        <div class="panel-heading pos-rlt">
                            <span class="arrow left pull-up"></span>
                            <span class="text-muted m-l-sm pull-right" ng-bind="comment.PublishDate|date:'yyyy-MM-dd HH:mm'"></span>
                            <a ui-sref="pages.user({username: comment.User.Username})">
                                <span class="text-xs font-bold" ng-bind="comment.User.Fullname"></span>
                                <span class="text-xxs text-muted" ng-bind="'&#64;' + comment.User.Username"></span>
                            </a>
                            <br />
                            <span ng-bind="comment.Content"></span>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-default w-full" ng-click="loadComments(post);" ng-disabled="post.disableLoadComments " ng-bind="post.moreCommentsButtonText"></button>
                </div>
                <!-- comments -->
            </div>
        </div>
    </div>
</div>