<div id="postEdit">
    <a ng-if="!user.IsAnonymous" ng-hide="user.IsAnonymous" ui-sref="pages.user({username: user.Username})" class="pull-left thumb-sm avatar m-l-n-md">
        <img ng-src="{{user.ProfileImageUrl}}" ng-alt="{{user.Fullname}}">
    </a>
    <a ng-if="user.IsAnonymous" ng-show="user.IsAnonymous" ng-click="showSignupDialog()" class="pull-left thumb-sm avatar m-l-n-md">
        <img src="~/res/app/img/a0.jpg" />
    </a>
    <div class="m-l-lg panel b-a r-3x">
        <div class="panel-heading pos-rlt b-b b-light">
            <span class="arrow left pull-up"></span>
            <input type="text" id="tk-title" placeholder="Title here" class="r-t form-control no-border no-padder" style="font-size: 24px" ng-model="options.post.Title" />

            <div tagkid-tag-search post="options.post"></div>
        </div>
        <div class="panel-body">
            <div text-angular
                 ta-target-toolbars="toolbar"
                 placeholder="Write something..."
                 ng-model="options.post.HtmlContent"></div>

            <div>
                <div class="pull-left m-n">
                    <div text-angular-toolbar
                         name="toolbar"
                         ta-toolbar-class="btn-toolbar"
                         ta-toolbar-group-class="btn-group"
                         ta-toolbar-button-class="btn btn-default btn-sm"
                         ta-toolbar-button-active-class="active"
                         ta-toolbar="[['bold','italics','strikeThrough'],['ul','ol','pre'],['insertLink','insertImageResp']]"></div>
                </div>
                <div class="pull-right">
                    <a href="#" class="btn btn-default btn-sm" ng-click="clear();">
                        <i class="fa fa-trash"></i> Clear
                    </a>

                    <div class="btn-group dropdown" dropdown>
                        <button class="btn btn-info btn-sm" ng-click="save(1);">
                            <i class="fa fa-mail-forward text"></i> Post
                        </button>
                        <button class="btn btn-info btn-sm" dropdown-toggle><span class="caret"></span></button>
                        <ul class="dropdown-menu text-xs">
                            <li><a href ng-click="save(1);"><i class="fa fa-plus"></i> Public</a></li>
                            <li><a href ng-click="save(0);"><i class="fa fa-minus"></i> Private</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>