/*
Created by: @themepixels
URL: http://themepixels.com/
*/

@import url('bootstrap.min.css');
@import url('font-awesome.min.css');
/*@import url('bootstrap-override.css');
@import url('weather-icons.min.css');
@import url('jquery-ui-1.10.3.css');
@import url('animate.min.css');
@import url('animate.delay.css');
@import url('toggles.css');
@import url('chosen.css');
@import url('lato.css');
@import url('roboto.css');*/

html {
    overflow-y: hidden;
}

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
    line-height: 21px;
    color: #636e7b;
    overflow: hidden;
    background-color: #000;
}

.page {
    bottom: 0;
    padding-top: 200px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #e4e7ea;
}