    <div class="signup-container">
        <div class="signup-form">
            <h1 class="text-center">Tag Kid</h1>
            <h4 class="text-center">Sign Up</h4>

            <input type="text" class="email" placeholder="Email" />
            <input type="text" class="uname" placeholder="Username" />
            <input type="password" class="pword" placeholder="Password" />

            <button class="btn btn-success btn-block">Sign Up</button>
            <button class="btn btn-primary btn-facebook btn-block">Sign Up With Facebook</button>
            <br>
            <small>Already have an account? <a href="#/signin">Sign In here.</a></small>
        </div>
    </div>
