    <div class="signup-container">
        <div class="signup-form">
            <h1 class="text-center">Tag Kid</h1>
            <h4 class="text-center">Sign In</h4>

            <input type="text" class="email signin" placeholder="Email or Username" />
            <input type="password" class="pword signin" placeholder="Password" />

            <button class="btn btn-success btn-block">Sign In</button>
            <button class="btn btn-primary btn-facebook btn-block">Sign In With Facebook</button>
            <div class="clearfix"></div>
            <br/>
            <button class="pull-left btn btn-default" ng-click="onSignUpClick();">Sign Up</button>
            <a class="pull-right btn btn-default">Forgot your password?</a>
        </div>
    </div>
