<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">TagKid.com</a>
            </div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Tag" ng-model="tagFilter">
                </div>
                <button type="submit" class="btn btn-default" ng-click="searchTags()">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="openNewPostModal()"><i class="fa fa-2x fa-plus-square"></i></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-2x fa-gear"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">{{user.fullname}}</a></li>
                        <li class="nav-divider"></li>
                        <li><a href="#" ng-click="onSignOutClick();">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div ng-repeat="tag in tagSearchResults">
    {{tag.id}}<br> {{tag.name}}<br> {{tag.hint}}<br> {{tag.description}}
    <hr>
</div>

<!-- Modal -->
<div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-large">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">New Post</h4>
            </div>
            <div class="modal-body">
                <div id="editor-edit" ng-show="visibleTab == 'editor'">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input class="tg-input-title" type="text" placeholder="Title (Optional)" ng-model="post.title" />
                            <textarea class="tg-input" placeholder="Write your post here" ng-paste="format()" ng-change="format()" ng-keyup="format()" ng-model="post.contentCode"></textarea>

                            <div class="tag-search">
                                <span>Tags: </span>
                                <span class="tags" ng-repeat="tag in post.tags">
                                    <span><span>{{tag.name}}</span><i class="fa fa-times" ng-click="removeTag(tag)"></i></span>
                                </span>
                                <input type="text" class="tag-input" maxlength="37" ng-disabled="post.tags.length >= 5" ng-show="post.tags.length < 5" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="tg-preview" ng-bind-html="post.content"></div>
                        </div>
                    </div>
                </div>
                <div id="editor-help" ng-show="visibleTab == 'help'">
                    <table class="table">
                        <tr>
                            <th>What</th>
                            <th>How</th>
                            <th>Input</th>
                            <th>Output</th>
                        </tr>
                        <tr>
                            <td>
                                Bold
                            </td>
                            <td>
                                Put text inside aterisks ( * )
                            </td>
                            <td>
                                * This will be bold *
                            </td>
                            <td>
                                <b> This will be bold </b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Italic
                            </td>
                            <td>
                                Put text inside slashes ( / )
                            </td>
                            <td>
                                / This will be italic /
                            </td>
                            <td>
                                <i> This will be italic </i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Underlined
                            </td>
                            <td>
                                Put text inside underscores ( _ )
                            </td>
                            <td>
                                _ This will be underlined _
                            </td>
                            <td>
                                <u> This will be underlined </u>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Striked
                            </td>
                            <td>
                                Put text inside dashes ( - )
                            </td>
                            <td>
                                - This will be striked -
                            </td>
                            <td>
                                <s> This will be striked </s>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Regular
                            </td>
                            <td>
                                To use special characters regular just type them twice.
                            </td>
                            <td>
                                // , -- , ** , __ , [[Text]
                                <br>
                                // Not italic //
                            </td>
                            <td>
                                / , - , * , _ , [Text]
                                <br>
                                / Not italic /
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Link
                            </td>
                            <td>
                                Inside brackets, first type the text that you want to appear on page then put a pipe ( | ) and last type the link url.
                            </td>
                            <td>
                                [This is a link to Google | www.google.com]
                            </td>
                            <td>
                                <a href="http://www.google.com" target="_blank">This is a link to Google</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Image
                            </td>
                            <td>
                                Put image url inside brackets ( [ and ] )
                            </td>
                            <td>
                                [http://cdn-media-1.lifehack.org/wp-content/files/2014/08/Richard_Branson_quote_.jpg]
                            </td>
                            <td>
                                <img style="max-width: 300px;" src="http://cdn-media-1.lifehack.org/wp-content/files/2014/08/Richard_Branson_quote_.jpg" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Code
                            </td>
                            <td>
                                Put text inside graves ( ` )
                            </td>
                            <td>
                                `&lt;script&gt;<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (_a[0] / 2 == _a[1] * 5) {<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_a[2] = _a[0] - 5;<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
                                &lt;/script&gt;`
                            </td>
                            <td>
                                <pre>&lt;script&gt;<br />    if (_a[0] / 2 == _a[1] * 5) {<br />        _a[2] = _a[0] - 5;<br />    }<br />&lt;/script&gt;</pre>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="editor-tab-buttons btn-group pull-left" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="editor-tab-button" value="editor"> Edit
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="editor-tab-button" value="help" />Help
                    </label>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="savePost()">Post</button>
            </div>
        </div>
    </div>
</div>
