
<div class="auth-container">
    <div class="auth-form">
        <h1 class="text-center">Tag Kid</h1>
        <h4 class="text-center">Sign Up</h4>

        <input type="email" class="email" placeholder="Email" ng-model="email" />
        <input type="text" class="uname" placeholder="Username" ng-model="username" />
        <input type="password" class="pword" placeholder="Password" ng-model="password" />

        <button class="btn btn-success btn-block" ng-click="onSignUpEmailClick();">Sign Up</button>
        <button class="btn btn-primary btn-facebook btn-block" ng-click="onSignUpFacebookClick();">Sign Up With Facebook</button>
        <br />
        <button class="pull-right btn btn-default btn-block" ng-click="onSignInClick();">Sign In</button>
    </div>
</div>
