<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="padder">
            <div class="streamline b-l b-info m-l m-b padder-v">
                <div>
                    <a class="pull-left thumb-sm avatar m-l-n-md">
                        <img src="img/a2.jpg" alt="...">
                    </a>
                    <div class="m-l-lg panel b-a r-3x">
                        <div class="panel-heading pos-rlt b-b b-light">
                            <span class="text-muted m-l-sm pull-left">
                                <span class="arrow left pull-up"></span>
                                <a href>Mehmet Ataş</a>
                                <span class="text-xs">@mehmetatas</span>
                                <div class="tag-search">
                                    <div class="btn-group" dropdown>
                                        <a href="#" dropdown-toggle><label class="label m-r-xs" ng-class="selectedCategory ? selectedCategory.CssClass : 'bg-light'">{{selectedCategory ? selectedCategory.Name : 'Select Category'}}</label></a>
                                        <div class="dropdown-menu text-sm padder" role="menu">
                                            <a href ng-repeat="category in categories" ng-click="selectCategory(category);">
                                                <label ng-class="category.CssClass" class="label m-r-xs">{{category.Name}}</label>
                                            </a>
                                            <hr class="m-xs">
                                            <a href><label class="label bg-light m-r-xs" ng-click="showNewCategoryPopup();">new category</label></a>
                                        </div>
                                    </div>

                                    <script type="text/ng-template" id="newCategoryModalContent.html">
                                        <div ng-include="'tpl/modals/new_category.html'"></div>
                                    </script>

                                    <span class="tags" ng-repeat="tag in SelectedTags">
                                        <a ng-click="removeTag(tag)"><label class=" label bg-light m-r-xs">{{tag.Name}}</label></a>
                                    </span>
                                    <input type="text" class="tag-input" placeholder="Tags here" maxlength="37" ng-disabled="SelectedTags.length >= 5" ng-show="SelectedTags.length < 5" />
                                </div>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <input type="text" placeholder="Title here" class="r-t form-control no-border tk-title text-lg no-padder" />
                            <textarea class="form-control no-border r-b tk-editor no-padder" style="margin-top: -1px" rows="3" placeholder="Your post here"></textarea>
                            <div class="tk-preview" style="display: none;"></div>
                            <div class="m-t-sm">
                                <a href="#" class="btn btn-default btn-xs tk-preview-btn">
                                    <i class="fa fa-list-alt text-muted text"></i> Preview
                                </a>
                                <a href="#" class="btn btn-default btn-xs tk-edit-btn" style="display: none">
                                    <i class="fa fa-edit text-muted text"></i> Edit
                                </a>
                                <a href="#" class="btn btn-default btn-xs">
                                    <i class="fa fa-trash text-muted text"></i> Cancel
                                </a>
                                <a href="#" class="btn btn-default btn-xs">
                                    <i class="fa fa-save text-muted"></i> Save As Draft
                                </a>
                                <a href="#" class="btn btn-default btn-xs">
                                    <i class="fa fa-mail-forward text-muted"></i> Publish
                                </a>
                            </div>

                        </div>
                    </div>

                </div>

                <div>
                    <a class="pull-left thumb-sm avatar m-l-n-md">
                        <img src="img/a2.jpg" alt="...">
                    </a>
                    <div class="m-l-lg panel b-a r-3x">
                        <div class="panel-heading pos-rlt b-b b-light">
                            <span class="text-muted m-l-sm pull-right">
                                9h ago
                            </span>
                            <span class="text-muted m-l-sm pull-left">
                                <span class="arrow left pull-up"></span>
                                <a href>Mehmet Ataş</a>
                                <span class="text-xs">@mehmetatas</span>
                                <br />
                                <a href="#"><label class="label bg-danger m-r-xs">coding</label></a>
                                <a href="#"><label class="label bg-light m-r-xs">c#</label></a>
                                <a href="#"><label class="label bg-light m-r-xs">.net</label></a>
                                <a href="#"><label class="label bg-light m-r-xs">java</label></a>
                                <a href="#"><label class="label bg-light m-r-xs">oracle-10g</label></a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <h4>Lorem ipsum dolor sit amet!</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consecteter adipiscing elit... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                            </p>
                            <p>
                                posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            </p>
                            <div class="m-t-sm">
                                <a href ui-toggle-class class="btn btn-default btn-xs active">
                                    <i class="fa fa-heart-o text-muted text"></i>
                                    <i class="fa fa-heart text-danger text-active"></i>
                                    19
                                </a>
                                <a href class="btn btn-default btn-xs">
                                    <i class="fa fa-mail-reply text-muted"></i> 3
                                </a>
                                <a class="btn btn-default btn-xs btn-comment">
                                    <i class="fa fa-comments-o text-muted"></i> 192
                                </a>
                            </div>
                            <div id="comments" style="max-height: 200px; display: none;" class="m-t-md m-b-md text-xs scroll-y">
                                <div class="m-l-xs">
                                    <a class="pull-left thumb-xs avatar">
                                        <img src="img/a5.jpg" alt="...">
                                    </a>
                                    <div class="m-l-xxl panel b-a r-2x">
                                        <div class="panel-heading pos-rlt">
                                            <span class="arrow left pull-up"></span>
                                            <textarea class="no-border w-full text-xs" rows="1" placeholder="Your comment..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- .comments -->
                                <div class="m-l-xs m-b-n">
                                    <a class="pull-left thumb-xs avatar">
                                        <img src="img/a5.jpg" alt="...">
                                    </a>
                                    <div class="m-l-xxl panel b-a r-2x">
                                        <div class="panel-heading pos-rlt">
                                            <span class="arrow left pull-up"></span>
                                            <span class="text-muted m-l-sm pull-right">
                                                1s ago
                                            </span>
                                            <a href>Mika Sam</a>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Report this comment is helpful
                                        </div>
                                    </div>
                                </div>
                                <div class="m-l-xs m-b-n">
                                    <a class="pull-left thumb-xs avatar">
                                        <img src="img/a5.jpg" alt="...">
                                    </a>
                                    <div class="m-l-xxl panel b-a r-2x">
                                        <div class="panel-heading pos-rlt">
                                            <span class="arrow left pull-up"></span>
                                            <span class="text-muted m-l-sm pull-right">
                                                42m ago
                                            </span>
                                            <a href>Mika Sam</a> <span class="text-xs">@miksam</span><br />
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </div>
                                    </div>
                                </div>
                                <div class="m-l-xs m-b-n">
                                    <a class="pull-left thumb-xs avatar">
                                        <img src="img/a5.jpg" alt="...">
                                    </a>
                                    <div class="m-l-xxl panel b-a r-2x">
                                        <div class="panel-heading pos-rlt">
                                            <span class="arrow left pull-up"></span>
                                            <span class="text-muted m-l-sm pull-right">
                                                5h ago
                                            </span>
                                            <a href>Mika Sam</a>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </div>
                                    </div>
                                </div>
                                <div class="m-l-xs m-b-n">
                                    <a class="pull-left thumb-xs avatar">
                                        <img src="img/a5.jpg" alt="...">
                                    </a>
                                    <div class="m-l-xxl panel b-a r-2x">
                                        <div class="panel-heading pos-rlt">
                                            <span class="arrow left pull-up"></span>
                                            <span class="text-muted m-l-sm pull-right">
                                                2d ago
                                            </span>
                                            <a href>Mika Sam</a>
                                            Report this comment is helpful
                                        </div>
                                    </div>
                                </div>
                                <!-- / .comments -->
                            </div>
                        </div>
                    </div>

                </div>


                <div>
                    <a class="pull-left thumb-sm avatar m-l-n-md">
                        <img src="img/a2.jpg" alt="...">
                    </a>
                    <div class="m-l-lg panel b-a r-3x">
                        <div class="panel-heading pos-rlt b-b b-light">
                            <span class="arrow left"></span>
                            <a href>Peter</a>
                            <label class="label bg-light m-l-xs">VIP</label>
                            <span class="text-muted m-l-sm pull-right">
                                9h ago
                            </span>
                        </div>
                        <div class="panel-body">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                        </div>
                    </div>
                </div>

                <div>
                    <a class="pull-left thumb-sm avatar m-l-n-md">
                        <img src="img/a2.jpg" alt="...">
                    </a>
                    <div class="m-l-lg panel b-a r-3x">
                        <div class="panel-heading pos-rlt b-b b-light">
                            <span class="arrow left"></span>
                            <a href>Peter</a>
                            <label class="label bg-light m-l-xs">VIP</label>
                            <span class="text-muted m-l-sm pull-right">
                                9h ago
                            </span>
                        </div>
                        <div class="panel-body">
                            <img src="img/c5.jpg" class="r-3x img-responsive w-full">
                            <br />
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col w-md lter b-l">
        <div class="vbox">
            <div class="nav-tabs-alt">
                <ul class="nav nav-tabs nav-justified">
                    <li ng-class="{'active': tabs[0]}">
                        <a href ng-click="tab(0)">Day</a>
                    </li>
                    <li ng-class="{'active': tabs[1]}">
                        <a href ng-click="tab(1)">Month</a>
                    </li>
                    <li ng-class="{'active': tabs[2]}">
                        <a href ng-click="tab(2)">Year</a>
                    </li>
                </ul>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="wrapper-md">

                            <h4 class="m-t-xs m-b-xs">Who to follow</h4>
                            <ul class="list-group no-bg no-borders pull-in">
                                <li class="list-group-item">
                                    <a herf class="pull-left thumb-sm avatar m-r">
                                        <img src="img/a4.jpg" alt="..." class="img-circle">
                                        <i class="on b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <div><a href>Chris Fox</a></div>
                                        <small class="text-muted">Designer, Blogger</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <a herf class="pull-left thumb-sm avatar m-r">
                                        <img src="img/a5.jpg" alt="..." class="img-circle">
                                        <i class="on b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <div><a href>Mogen Polish</a></div>
                                        <small class="text-muted">Writter, Mag Editor</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <a herf class="pull-left thumb-sm avatar m-r">
                                        <img src="img/a6.jpg" alt="..." class="img-circle">
                                        <i class="busy b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <div><a href>Joge Lucky</a></div>
                                        <small class="text-muted">Art director, Movie Cut</small>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <a herf class="pull-left thumb-sm avatar m-r">
                                        <img src="img/a7.jpg" alt="..." class="img-circle">
                                        <i class="away b-white bottom"></i>
                                    </a>
                                    <div class="clear">
                                        <div><a href>Folisise Chosielie</a></div>
                                        <small class="text-muted">Musician, Player</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel b-a">
                            <h4 class="font-thin padder">Latest Tweets</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <p>Wellcome <a href class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>
                                    <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
                                </li>
                                <li class="list-group-item">
                                    <p>Morbi nec <a href class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                                    <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
                                </li>
                                <li class="list-group-item">
                                    <p><a href class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
                                    <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
                                </li>
                            </ul>
                        </div>
                        <div class="panel b-light clearfix">
                            <div class="panel-body">
                                <a href class="thumb pull-left m-r">
                                    <img src="img/a0.jpg" class="img-circle">
                                </a>
                                <div class="clear">
                                    <a href class="text-info">@Mike Mcalidek <i class="fa fa-twitter"></i></a>
                                    <small class="block text-muted">2,415 followers / 225 tweets</small>
                                    <a href class="btn btn-xs btn-success m-t-xs">Follow</a>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript">
    $('textarea').autogrow();

    $(function () {
        $('.btn-comment').on('click', function () {
            $('#comments').toggle();
        });

        var editor = tkEditor.create('.tk-editor', '.tk-preview', '.tk-title');

        $('.tk-preview-btn').on('click', function (e) {
            $('.tk-preview-btn').toggle();
            $('.tk-edit-btn').toggle();
            editor.toggle();
            e.preventDefault();
        });

        $('.tk-edit-btn').on('click', function (e) {
            $('.tk-preview-btn').toggle();
            $('.tk-edit-btn').toggle();
            editor.toggle();
            e.preventDefault();
        });
    });
</script>
