    <div class="signup-container">
        <div class="signup-form">
            <h1 class="text-center">Tag Kid</h1>
            <h4 class="text-center">Sign In</h4>

            <input type="email" class="email signin" placeholder="Email or Username" ng-model="email_or_username" />
            <input type="password" class="pword signin" placeholder="Password" ng-model="password" />

            <button class="btn btn-success btn-block" ng-click="onSignInEmailClick();">Sign In</button>
            <button class="btn btn-primary btn-facebook btn-block" ng-click="onSignInFacebookClick();">Sign In With Facebook</button>
            <br/>
            <button class="pull-left btn btn-default btn-block" ng-click="onSignUpClick();">Sign Up</button>
            <a class="pull-right btn btn-default btn-block" ng-click="onForgotPasswordClick();">Forgot your password?</a>
        </div>
    </div>
