<!-- list -->
<ul class="nav text-xs">
    <li>
        <a ui-sref="pages.timeline" class="auto">
            <b class="label bg-primary pull-right">3</b>
            <i class="glyphicon glyphicon-list text-success-dker"></i>
            <span class="font-bold">Timeline</span>
        </a>
    </li>

    <li class="line dk"></li>

    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Favouirte Tags</span>
    </li>
    <li>
        <a href="#" class="auto">
            <b class="label bg-danger pull-right">8</b>
            <i class="glyphicon glyphicon-briefcase text-primary-dker"></i>
            <span class="font-bold">Software Development</span>
        </a>
        <ul class="nav nav-sub dk">
            <li>
                <a href="#">
                    <b class="label bg-warning pull-right">1</b>
                    <span>c#</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <b class="label bg-success pull-right">4</b>
                    <span>java</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <b class="label bg-info pull-right">3</b>
                    <span>javascript</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>microsoft-visual-studio-2013</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="auto">
            <b class="label bg-danger pull-right">5</b>
            <i class="glyphicon glyphicon-bullhorn icon text-info-lter"></i>
            <span class="font-bold">Sports</span>
        </a>
        <ul class="nav nav-sub dk">
            <li>
                <a href="#">
                    <b class="label bg-info pull-right">2</b>
                    <span>football</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <b class="label bg-success pull-right">3</b>
                    <span>tennis</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- / list -->