/*
Created by: @themepixels
URL: http://themepixels.com/
*/

@import url('bootstrap.min.css');

/*@import url('bootstrap-override.css');
@import url('weather-icons.min.css');
@import url('jquery-ui-1.10.3.css');*/

@import url('font-awesome.min.css');

/*@import url('animate.min.css');
@import url('animate.delay.css');
@import url('toggles.css');
@import url('chosen.css');
@import url('lato.css');
@import url('roboto.css');*/

body {
    background: #1d2939;
    color: #636e7b;
    font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
    line-height: 21px;
    overflow: hidden;
}

body.notfound,
body .signin { background: #e4e7ea; }

input, select, textarea {
    color: #636e7b;
    font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
}

a:focus, a:active { outline: none; }

h1, h2, h3, h4, h5 { font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif; }

strong {
    font-family: 'LatoBold';
    font-weight: normal;
}

/* preloader */

#preloader {
    background-color: #e4e7ea;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#status {
    font-size: 32px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    width: 30px;
}

.dashboard { }