<div class="hbox hbox-auto-xs hbox-auto-sm bg-light">
    <div class="col">
        <div class="padder">
            <div class="streamline b-l b-info m-l m-b padder-v">
                <tagkid-editor options="editorOptions"></tagkid-editor>
                <!-- Posts -->
                <tagkid-post ng-repeat="post in posts" on-edit="editPost(post)" post="post"></tagkid-post>
            </div>
            <div class="text-center" ng-hide="user.IsAnonymous">
                <button class="btn btn-default w-full" ng-click="loadTimeline();" ng-disabled="disableMorePosts" ng-bind="morePostsButtonText"></button>
            </div>
        </div>
    </div>

    <div class="col w-md lter b-l">
        <div class="vbox">
            Side Bar
        </div>
    </div>
</div>