<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>tagkid.com</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="~/res/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/res/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/res/lib/angular-textAngular/textAngular.css" rel="stylesheet" />

    <link href="~/res/app/css/app.css" rel="stylesheet" />
    <link href="~/res/app/css/custom.css" rel="stylesheet" />
</head>
<body ng-controller="appCtrl" class="bg-light">
    <div id="app" class="app container app-header-fixed app-aside-fixed" ng-class="{'app-aside-folded':settings.asideFolded}" ui-view></div>

    <script src="~/res/lib/jquery/jquery.min.js"></script>

    <script src="~/res/lib/angular/angular.min.js"></script>
    <script src="~/res/lib/angular-ui-router/angular-ui-router.min.js"></script>
    <script src="~/res/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/res/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="~/res/lib/angular-textAngular/textAngular-rangy.min.js"></script>
    <script src="~/res/lib/angular-textAngular/textAngular-sanitize.min.js"></script>
    <script src="~/res/lib/angular-textAngular/textAngular.min.js"></script>

    <script src="~/res/app/js/app.jquery.js"></script>
    <script src="~/res/app/js/app.js"></script>
    <script src="~/res/app/js/app.routes.js"></script>

    <script src="~/res/app/js/controllers/layout/app.js"></script>
    <script src="~/res/app/js/controllers/pages/timeline.js"></script>
    <script src="~/res/app/js/controllers/dialog/authDialog.js"></script>

    <script src="~/res/app/js/services/client/auth.js"></script>
    <script src="~/res/app/js/services/client/authDialog.js"></script>
    <script src="~/res/app/js/services/client/tagkid.js"></script>
    <script src="~/res/app/js/services/server/postService.js"></script>

    <script src="~/res/app/js/directives/tagkid-post.js"></script>
    <script src="~/res/app/js/directives/tagkid-editor.js"></script>
    <script src="~/res/app/js/directives/tagkid-tag-search.js"></script>
</body>
</html>