<!-- list -->
<ul class="nav text-xs">
    <li>
        <a ui-sref="pages.timeline" class="auto">
            <b class="label bg-primary pull-right">3</b>
            <i class="glyphicon glyphicon-list text-success-dker"></i>
            <span class="font-bold">Timeline</span>
        </a>
    </li>
    <li class="line dk"></li>

    <li>
        <a href="#" class="auto">
            <b class="label bg-danger pull-right">8</b>
            <i class="glyphicon glyphicon-briefcase text-primary-dker"></i>
            <span class="font-bold">Favourite Tags</span>
        </a>
        <ul class="nav nav-sub dk">
            <li>
                <a href="#">
                    <b class="label bg-warning pull-right">1</b>
                    <span>c#</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <b class="label bg-success pull-right">4</b>
                    <span>java</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <b class="label bg-info pull-right">3</b>
                    <span>javascript</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>microsoft-visual-studio-2013</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="auto">
            <i class="glyphicon glyphicon-bullhorn text-info-lter"></i>
            <span class="font-bold">Favourite Posts</span>
        </a>
        <ul class="nav nav-sub dk">
            <li>
                <a href="#">
                    <span>How To Drop All Contstraints</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Git Rollback Un-Pushed Commits</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>NHibernate Auto ClassMap</span>
                </a>
            </li>
            <li class="line dk"></li>
            <li>
                <a href="#">
                    <span>Show All...</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- / list -->