<div ui-view="" class="ng-fadeIn mb-panel">
    <div data-ng-class="{'mb-content-open' : mailPanelOpened}" class="mb-panel-inner">
        <div class="mb-panel-list">
            <h3 class="text-center">
                {{ folder }}
                <small>({{ mailList.length }})</small>
            </h3>
            <div class="mb-mails-responsive">
                <p data-ng-if="!mailList.length" class="lead text-center text-muted mt-xl">No Mail</p>
                <div class="mb-mails">
                    <div data-ng-repeat="mail in mailList" class="panel" ng-class="mail.panelType + (mail.unread ? ' mb-unread' : '')">
                        <div class="panel-heading">
                            <img data-ng-src="{{mail.from.avatar}}" alt="Mail Avatar" class="img-circle thumb32" />
                            <div style="display: inline-block">
                                <div class="mb-mail-subject">{{mail.subject}}</div>
                                <span class="mb-mail-from">
                                    {{mail.from.name}} - {{mail.time}}
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <a href="#" data-ng-click="openMail(mail.id)">
                                <p class="mb-mail-preview">{{mail.excerpt}}</p>
                            </a>
                        </div>
                        <div class="panel-footer">
                            <a href="#" ng-repeat="tag in mail.tags" class="btn btn-xs btn-default">
                                {{tag}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ui-view="mails" class="mb-panel-content">
            <p class="lead text-center text-muted mt-xl">Select Post</p>
        </div>
    </div>
</div>