<div ui-view="" class="ng-fadeIn mb-panel">
    <div data-ng-class="{'mb-content-open' : mailPanelOpened}" class="mb-panel-inner">
        <div class="panel panel-default mb-panel-list">
            <h3 class="text-center">
                {{ folder }}
                <small>({{ mailList.length }})</small>
            </h3>
            <!-- START Mail list-->
            <div class="mb-mails-responsive">
                <p data-ng-if="!mailList.length" class="lead text-center text-muted mt-xl">No Mail</p>
                <table data-ng-if="mailList.length" class="table mb-mails">
                    <tbody>
                        <tr data-ng-repeat="mail in mailList" data-ng-class="{'mb-unread' : mail.unread}">
                            <td style="vertical-align: top">
                                <img data-ng-src="{{mail.from.avatar}}" alt="Mail Avatar" class="img-circle thumb32" />
                            </td>
                            <td>
                                <a href="#" data-ng-click="openMail(mail.id)">
                                    <div class="mb-mail-subject">{{mail.subject}}</div>
                                    <span class="mb-mail-from">
                                        From: {{mail.from.name}} - {{mail.time}}
                                    </span>
                                    <p class="mb-mail-preview">{{mail.excerpt}}</p>
                                </a>
                                <br />
                                <a href="#" ng-repeat="tag in mail.tags" class="btn btn-xs btn-default">{{tag}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ui-view="mails" class="mb-panel-content">
            <p class="lead text-center text-muted mt-xl">Select Post</p>
        </div>
    </div>
</div>